@page "/"

<PageTitle>Домашняя</PageTitle>

<h1>Проект «Transcript Master»</h1>

<p><b>Цель проекта</b> - разработать сервис, который способен резюмировать большие текста и аудио-файлы с использованием языковых моделей.</p>

<p><b>Ключевые преимущества:</b></p>
<ul>
    <li>Полная транскрипция аудио-записи</li>
    <li>Готовый конспект готовой аудио-записи или текстового файла</li>
    <li>Неограниченное количество генераций</li>
    <li>Экономия времени</li>
</ul>

<p><b>Применимость инструмента:</b></p>
<ul>
    <li>Протоколы собраний и встреч</li>
    <li>Конспекты</li>
    <li>Анализ выступлений</li>
    <li>Анализ интервью</li>
</ul>